<%= render 'shared/nav' %>
<%= render 'shared/page_title', title: @recipe.name %>

<div class="row center recipe-show-summary">
  <h3><%= @recipe.summary %></h3>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="center">
      <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
    </div>
    
    <div class="col-md-10 col-md-offset-1 well recipe-show-description">
      <p>
        <%= simple_format(@recipe.description) %>
        
        <div class="pull-right">
          <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= @recipe.thumbs_up_total %>
          <% end %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp; <%= @recipe.thumbs_down_total %>
          <% end %>
        </div>
      </p>
    </div>
  </div>
  
  <div class="col-md-3 center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    
    <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    
    <div class="recipe-show-btns">
      <h5><%= link_to "View All Recipes", recipes_path, class: "btn btn-warning btn-small"  %></h5>
    
      <!-- limit ability to edit recipe to the chef who created it, or admin user-->
      <div class="recipe-show-btn-edit">
        <% if logged_in? and (@recipe.chef == current_user || current_user.admin?) %>
          <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class:"btn btn-success" %>
        <% end %>
      </div>
      
      <!-- limit ability to delete recipe to admin user -->
      <div class="recipe-show-btn-delete">
        <% if logged_in? and current_user.admin? %>
          <%= link_to "Delete this recipe", @recipe, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>



