<% @body_id = "homepage" %>
<%= render 'shared/nav_transparent' %>

<div class="jumbotron center">
  <h1>Welcome to Recipe Box</h1>
  
  <!--<h2>This is the home page.</h2>-->
  
  <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-success" %>
  
  <div class="row home-section-2">
    <div class="col-md-4">
      <h3 class="midrow">View Recipes as Guest User</h3>
      <h2 class="midrow-subtitle">Browse &amp; view recipes as a guest</h2>
      <!--<h2 class="left">Browse and view recipes as a guest and sign up later</h2>-->
      <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-small btn-warning" %></p>
    </div>
    
    <div class="col-md-4">
      <h3 class="midrow">Sign in to your account</h3>
      <h2 class="midrow-subtitle">Manage your recipes</h2>
      <!--<h2 class="left">Manage your recipes <br> Add, edit & review</h2>-->
      <p><%= link_to "Log in to your account", login_path, class: "btn btn-small btn-warning" %></p>
    </div>
    
    <div class="col-md-4">
      <h3 class="midrow">View Chefs as a Guest User</h3>
      <h2 class="midrow-subtitle">Browse &amp; view chefs as a guest</h2>
      <!--<h2 class="left">Browse and view recipes as a guest and Sign Up later</h2>-->
      <p><%= link_to "View Chefs Listing", chefs_path, class: "btn btn-small btn-warning" %></p>
    </div>
  </div>

</div>

<!--<div class="row">-->
<!--  <div class="col-md-4">-->
<!--    <h3 class="midrow">View Recipes as Guest User</h3>-->
<!--    <h2 class="left">Browse and view recipes as a guest and Sign Up later</h2>-->
<!--    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-small btn-warning" %></p>-->
<!--  </div>-->
  
<!--  <div class="col-md-4">-->
<!--    <h3 class="midrow">View Recipes as Guest User</h3>-->
<!--    <h2 class="left">Browse and view recipes as a guest and Sign Up later</h2>-->
<!--    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-small btn-warning" %></p>-->
<!--  </div>-->
  
<!--  <div class="col-md-4">-->
<!--    <h3 class="midrow">View Recipes as Guest User</h3>-->
<!--    <h2 class="left">Browse and view recipes as a guest and Sign Up later</h2>-->
<!--    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-small btn-warning" %></p>-->
<!--  </div>-->
<!--</div>-->